* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary-color: rgb(106, 15, 72);
  --secondary-color: rgb(177, 41, 128);
}
.navbar {
  display: flex;
  padding: 80px, 150px;
  justify-content: space-between;
  background-color: var(--primary-color);
  align-items: center;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 80px;
}

.logo_text h1 {
  font-family: cursive;
  font-size: 30px;
  font-weight: 100;
}

.nav_links {
  display: flex;
  list-style: none;
  gap: 35px;
  padding: 15px 80px;
}

.nav_links a {
  text-decoration: none;
  color: white;
  font-size: medium;
}

.nav_links a:hover {
  color: rgb(242, 177, 242);
}

/*-----------hero-sec-----------*/
.hero-sec {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 70px 150px;
}

.t-h1 {
  color: var(--primary-color);
  font-size: 60px;
}

.t-h2 {
  font-size: 60px;
  padding-bottom: 20px;
}

.t-p2 {
  padding-bottom: 10px;
}

.bt {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

.bt1 {
  padding: 15px 30px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 10px;
  font-size: large;
}

.bt1:hover {
  background-color: var(--secondary-color);
  transform: scale(1.03);
}

.bt2 {
  padding: 15px 30px;
  color: var(--primary-color);
  border: 2px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--primary-color);
  background-color: white;
  font-size: large;
}

.bt2:hover {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  transform: scale(1.03);
}

/*----------services------------*/
.services h1 {
  text-align: center;
  padding-bottom: 10px;
}

.services p {
  text-align: center;
}
.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 70px 150px;
}

.card {
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  border-color: rgb(212, 201, 201);
  border-width: 1px;
  border-style: solid;
}

.card:hover {
  transition: 0.3s;
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.card button {
  padding: 7px 15px;
  border-radius: 5px;
  color: white;
  background-color: var(--primary-color);
  font-size: large;
  margin-top: 10px;
}

.card button:hover {
  background-color: var(--secondary-color);
}

.card-text {
  align-items: center;
  align-content: center;
  margin: 30px;
  text-align: center;
}

.card-text h2 {
  color: var(--primary-color);
  padding-bottom: 10px;
}

/*---------------foooter------------*/
.foot {
  background-color: var(--primary-color);
  color: rgb(184, 177, 177);
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
}

.foot2 a {
  list-style: none;
  text-decoration: none;
  color: rgb(184, 177, 177);
  font-size: small;
}

.foot2 a:hover {
  color: white;
}

.foot2 a li {
  padding-bottom: 20px;
}

.foot2-list li {
  list-style: none;
  color: rgb(184, 177, 177);
}

.foot2-list li:hover {
  color: white;
}

.foot2-list a li {
  text-decoration: none;
  padding-bottom: 10px;
}

.foot1-icon a i {
  color: rgb(184, 177, 177);
  padding-top: 15px;
}

.foot1-icon a i:hover {
  color: white;
}

.foot1 h2 {
  padding-bottom: 15px;
}

.foot3 {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: var(--primary-color);
  color: rgb(184, 177, 177);
}

.foot3-div1 {
  font-size: small;
}
